In [4]:
import psycopg2
import pandas as pd

In [8]:
# Conexion a BDD
HOST = "creze-aws-aurora-cluster.cluster-cmiufpwtxjkk.us-east-1.rds.amazonaws.com"
PORT = "5432"
USER = "data"
PASS = "zW.B@/(7+Q,Yt/Kgyg#"
DB = "creze"

connstr = "host=%s port=%s user=%s password=%s dbname=%s" % (
    HOST, PORT, USER, PASS, DB)
conn = psycopg2.connect(connstr)

In [11]:
df = pd.read_sql("select * from cobranza.pago_amortizacion pa "
                 +"where folio in ('C12137CC6358') and no_pago = 11",conn)

C:\Users\Ing Michel\AppData\Local\Temp\ipykernel_6044\1587122667.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("select * from cobranza.pago_amortizacion pa "

In [12]:
df

,id_ta,id_cliente,id_contrato,folio,no_pago,saldo_inicio,fecha_pago,fecha_pago_anterior,pago_total,pago_capital,...,id_bc,fecha_dep,dep_tot,dep_mxc,id_bmcd,dep_inte,dep_anti,dep_capi,num_amortizaciones,tasa_diaria_interes
0,121685,5349,4696,C12137CC6358,11,423252.19,2023-03-31,2023-02-28,56057.55,34494.47,...,None,None,None,None,None,None,None,None,20,0.001387

In [13]:
df_2 = pd.read_sql("select * from cobranza.base_originacion bo "
                 +"where folio in ('C12137CC6358')",conn)

C:\Users\Ing Michel\AppData\Local\Temp\ipykernel_6044\108034852.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_2 = pd.read_sql("select * from cobranza.base_originacion bo "

In [14]:
df_2

,mes,folio,vintage,vintage2,monto_operado,capital_re_ant,monto_neto,status,categoria_a,status_anterior,...,tasa_monto,plazo_monto,razon_social,email_particular,from_canal,from_tipo,responsable,fecha_contrato,deal,categoria
0,2023-03,C12137CC6358,2022-04,Abr-2022,700000.0,None,700000.0,Nuevo,None,Nuevo,...,217000.0,14000000.0,MAQUINARIA Y EQUIPOS DE TERRACERIA SA DE CV,met.sa@hotmail.com,OFFLINE,OTHER PAID,FABIAN,2022-04-29,0.04,Unsecured

In [28]:
razon = df_2['razon_social'].values[0]

In [29]:
print('Hola soy la empresa:',razon)

Hola soy la empresa: MAQUINARIA Y EQUIPOS DE TERRACERIA SA DE CV